/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Style Guide
Version:	0.5
Assigned to:	Jean Kaluza
Primary use:	Guide
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Grid]
see: http://mikevoermans.com/css/the-10px-grid-system
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Typography]
Typography is setup to work explicitly with google fonts
-------------------------------------------------------------------*/
body{
	font-family: 'Open Sans', sans-serif;
	color: #333;
}
h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}
h1{
	font-size: 200%;
	font-weight: 300;
}
h2{
	font-size: 150%;
}
h3{
	font-size: 140%;
}
h4{
	font-size: 130%;
}
h5{
	font-size: 110%;
}
h6{
	font-size: 105%;
}


/*------------------------------------------------------------------
[Header]
-------------------------------------------------------------------*/
header{
	background: #eee;
	width: 100%;
}

/*------------------------------------------------------------------
[Navigation]
-------------------------------------------------------------------*/
nav{
	background: #ddd;
}
.main-nav li{
	display: inline-block;
	float: left;
}
.sub-nav li ul{
	display: none;
}

/*------------------------------------------------------------------
[Main]
-------------------------------------------------------------------*/
main{
	background: #ccc;
}

/*------------------------------------------------------------------
[Footer]
-------------------------------------------------------------------*/
footer{
	width: 100%;
	background: #bbb;
}