/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Style Guide
Version:	0.5
Assigned to:	Jean Kaluza
Primary use:	Guide
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Grid]
see: http://mikevoermans.com/css/the-10px-grid-system
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Typography]
Typography is setup to work explicitly with google fonts
-------------------------------------------------------------------*/
body{
	font-family: 'Open Sans', sans-serif;
	color: #333;
}
h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}
h1{
	font-size: 200%;
	font-weight: 300;
}
h2{
	font-size: 150%;
}
h3{
	font-size: 140%;
}
h4{
	font-size: 130%;
}
h5{
	font-size: 110%;
}
h6{
	font-size: 105%;
}


/*------------------------------------------------------------------
[Header]
-------------------------------------------------------------------*/
header{
	background: #eee;
	border: 1px solid #aaa;
	display: block;
	width: 100%;
	z-index: 100;
	padding: 10px 0;
}
header .logo{
	text-align: left;
}
header h2{
	font-size: 60%;
	font-weight: 600;
}

/*------------------------------------------------------------------
[Navigation]
-------------------------------------------------------------------*/
/*-----GLOBAL NAV-----*/

/*-----MAIN NAV-----*/
.main-nav{
	background: #fff;
	text-align: right;
}
.main-nav li{
	display: inline-block;
	padding: 0 11px;
}
.main-nav a{
	color: #ccc;
	font-size: 100%;
	text-decoration: none;
}
.main-nav .login{
	display: none;
}
/*-----SUB NAV-----*/
.sub-nav{
	background: #ddd;
	width: 100%;
}
.sub-nav li{
	width: 1%;
	display: table-cell;
}
.sub-nav li ul{
	display: none;
}

/*------------------------------------------------------------------
[Main]
-------------------------------------------------------------------*/
main{
	background: #ccc;
	text-align: left;
}

/*------------------------------------------------------------------
[Parallax]
-------------------------------------------------------------------*/
.parallax img{
	width: 400px;
	height: 100px;
	background-color: #ccc;
	float: right;
}
.article1{
	background: repeating-linear-gradient(
  	45deg,
  	#333,
  	#333 10px,
  	#444 10px,
  	#444 20px);
  	color: #fff;
}
.article2{
	background: repeating-linear-gradient(
  	45deg,
  	#555,
  	#555 10px,
  	#666 10px,
  	#666 20px);
  	color: #fff;
}
.article3{
	background: repeating-linear-gradient(
  	45deg,
  	#aaa,
  	#aaa 10px,
  	#bbb 10px,
  	#bbb 20px);
  	color: #fff;
}
.article4{
	background: repeating-linear-gradient(
  	45deg,
  	#ccc,
  	#ccc 10px,
  	#ddd 10px,
  	#ddd 20px);
  	color: #fff;
}

/*------------------------------------------------------------------
[Footer]
-------------------------------------------------------------------*/
footer{
	width: 100%;
	background: #bbb;
}